<!DOCTYPE html>
<html lang="fr">
<head>
    <script src="nui://game/ui/jquery.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	{% load static %}
    <link href="{% static 'graphical_menu/css/my_style.css' %}" rel="stylesheet">
</head>
<body>
    <div class ="container mt-5">
        <!-- <div id="shopmenu" class="card mt-5 bg-dark" style="border:0;display:none"> -->
        <div id="shopmenu" class="card mt-5 bg-dark">
  			<div class="card-header bg-danger text-white unselectable" unselectable="on" onselectstart="return false;" onmousedown="return false;">
    			Concessionnaire
  			</div>
  			<div class="card-body unselectable" unselectable="on">
				<h5 class="card-title"></h5>	
				<div class="d-flex justify-content-between">
					<div>
						<i id="page-prv" class="fas fa-angle-left fa-3x justify-content-center"></i>
						<i id="page-nxt" class="fas fa-angle-right fa-3x justify-content-center"></i>
					</div>
					<div class="d-flex">
						<div class="dropdown">
							<i class="btn btn-primary dropdown-toggle" id="categoryBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Catégorie</i>
							<div class="dropdown-menu" id="dropdownVehicle" aria-labelledby="categoryBtn"></div>
						</div>
						<p class="text-white cat-selected" id="catSelected">Aucune categorie</p>
						<!-- <p style="color: rgb(18, 216, 18);" id="debug">debug: </p> -->
						<div class="dropdown">
							<i class="btn btn-primary dropdown-toggle" id="PriceBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prix</i>
							<div class="dropdown-menu" id="dropdownPrice" aria-labelledby="priceBtn">
								<i class="dropdown-item" id="priceIncreasing">Prix par ordre croissant</i>
								<i class="dropdown-item" id="priceDecreasing">Prix par ordre décroissant</i>
							</div>
						</div>
						<p class="text-white cat-selected" id="typePrice">Aucun tri de prix</p>
						<i type="button" class="btn btn-success fas fa-car" id="btnValid"></i>
						<div class="input-group field-search">
							<input type="text" name="research" id="fieldSearchVeh" class="form-control" placeholder="Rechercher un model">
							<div class="input-group-append">
								<i type="button" class="btn btn-success" id="ValidSearchVeh">
									<i class="fas fa-check-circle"></i>
								</i>
							</div>
						</div>
					</div>
					<i id="close" class="float-right fa-3x fas fa-sign-out-alt"></i>
				</div>
    			<div id="wrapper" class="card-deck"></div>
  			</div>
		</div>
    </div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{% static 'graphical_menu/js/secureajax.js' %}" type="text/javascript"></script>
    <script src="{% static 'graphical_menu/js/my_script.js' %}" type="text/javascript"></script>
</body>
</html>
